<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="ly" value="182844,asdliuyang123" />
  <add key="cookie" value="eds.newtouch.cn,/,ASP.NET_SessionId,exfja0ix54np3vurjxbj2c55" />
</appSettings>
</configuration>